

/*GENERAL STYLES*/
body {
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

/* HEADER */
.header--strip {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  font-size: 1rem;
  height: 2.82rem;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}
.header--strip img {
  margin-left: 10%;
  margin-right: 1rem;
  height: 1.5rem;
}


/*JUMBOTRON*/
.jumbotron--container {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumbotron--text {
  margin-left: 9%;
  position: relative;
  top: 9rem;
  width: 20rem;
  font-weight: bold;
  background-color: black;
  color: white;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
}
.jumbotron--text h2 {
  font-size: 2rem;
  margin-top: 0.25rem;
}


/* NAVBAR */
.navbar--container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding-left: 10%;
  padding-right: 10%;
  background-color: darkred;
  color: white;
}
.navbar--container ul li a {
  color: white;
  text-decoration: none;
}

/*CONTENT*/


/* FOOTER */
.footer--style {
  text-align: right;
  color: grey;
  font-size: 21px;

}
